{% extends "main.html" %}
{% block main_body %}

<!-- lodaer  -->
{% include "loader.html" %}
<!-- loader end  -->
<!-- main start  -->
<div id="main">
    <!-- header  -->
    {% include "header.html" %}
            <!--header end -->	
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content  -->	
                <div class="content">
                    <!--  section  -->  
                    <section class="parallax-section hero-section hidden-section" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title">
                                <h4>Замовляй їжу з нашим сервісом</h4>
                                <h2>Наш магазин</h2>
                                <div class="dots-separator fl-wrap"><span></span></div>
                            </div>
                        </div>
                        <div class="hero-section-scroll">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="brush-dec"></div>
                    </section>
                    <!--  section  end-->  
                    <!--  section  -->   
                    <section class="hidden-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="fl-wrap post-container">
                                        <div class="shop-header fl-wrap">
                                            <!-- <h4>Showing <span>1–8</span> of 19 results</h4> -->
                                            <div class="shop-header_opt">
                                                <select name="persons" id="list" data-placeholder="Persons" class="chosen-select no-search-select">
                                                    <option>Popularity</option>
                                                    <option>Average rating</option>
                                                    <option>Price: low to high</option>
                                                    <option>Price: high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- gallery start -->
                                        <div class="gallery-items grid-big-pad  lightgallery two-column fl-wrap">
                                            <!-- gallery-item-->
                                            {% for item in object_list %}
                                                <div class="gallery-item {{ item.get_label_display }}">
                                                    <div class="grid-item-holder hov_zoom">
                                                        <a href="{{ item.image.url }}" class="box-media-zoom popup-image"><i
                                                                class="fal fa-search"></i></a>
                                                        <img src="{{ item.image.url }}" alt="">
                                                    </div>
                                                    <div class="grid-item-details">
                                                        
                                                        
                                                        <a href='{{ item.get_absolute_url }}'><h3>{{ item.title }}</h3></a>
                                                        <p>{{ item.description }}</p>
                                                        <div class="grid-item_price">
                                                            {% if item.discount_price %}
                                                                <span>₴{{ item.discount_price }}</span>
                                                            {% else %}
                                                                <span>₴{{ item.price }}</span>
                                                            {% endif %}
                                                            <a href="{{ item.get_add_to_cart_url }}" class="add_cart">Добавити до кошику</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- gallery-item end-->
                                      </div>
                                        <!-- gallery end -->                                
                                        <!--pagination-->   
                                        {% if is_paginated %}  
                                            <div class="pagination fl-wrap" style="width:20%;">
                                                {% if page_obj.has_previous %}                                              
                                                <a href="?page={{ page_obj.previous_page_number }}" class="prevposts-link"><i class="fal fa-long-arrow-left"></i></a>
                                                {% endif %}
                                                
                                                <a href="?page={{ page_obj.number }}" class="current-page">{{ page_obj.number }}</a>
                                                
                                                {% if page_obj.has_next %}                                              
                                                    <a href="?page={{ page_obj.next_page_number }}" class="nextposts-link"><i class="fal fa-long-arrow-right"></i></a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        <!--pagination end-->                                          
                                    </div>
                                </div>
                                <!--  sidebar  -->  
                                <div class="col-md-4">
                                    <!-- main-sidebar -->   
                                    <div class="main-sidebar fixed-bar fl-wrap">
                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <div class="search-widget fl-wrap">
                                                <form action="#">
                                                    <input name="se" id="se" type="text" class="search-inpt-item" placeholder="Search.." value="Search..." />
                                                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end-->                            
                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <h3>Price Filter</h3>
                                            <div class="price-rage-wrap shop-rage-wrap fl-wrap">
                                                <a href="#" class="srw_btn color-bg" >Update</a>
                                                <div class="price-rage-item fl-wrap">
                                                    <input type="text" class="shop-price" data-min="0" data-max="1000"  name="shop-price"  data-step="10" value="₴₴">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end-->                              
                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <h3>Popular Products</h3>
                                            <div class="recent-post-widget">
                                                <ul>
                                                    <li>
                                                        <div class="recent-post-img"><a href="#"><img src="images/all/1.jpg" alt=""></a></div>
                                                        <div class="recent-post-content">
                                                            <h4><a href="#">Victoria's Filet Mignon</a></h4>
                                                            <div class="recent-post-opt">
                                                                <span class="post-date">Price: <strong>₴25</strong></span> 
                                                                <a href="#" class="post-comments">0 Reviews</a> 
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="recent-post-img"><a href="#"><img src="images/all/1.jpg" alt=""></a></div>
                                                        <div class="recent-post-content">
                                                            <h4><a href="#">Prime Cuts of Beef</a></h4>
                                                            <div class="recent-post-opt">
                                                                <span class="post-date">Price: <strong>₴54</strong></span> 
                                                                <a href="#" class="post-comments">2 Reviews</a> 
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="recent-post-img"><a href="#"><img src="images/all/1.jpg" alt=""></a></div>
                                                        <div class="recent-post-content">
                                                            <h4><a href="#">Meatball tagliatelle</a></h4>
                                                            <div class="recent-post-opt">
                                                                <span class="post-date">Price: <strong>₴47</strong></span> 
                                                                <a href="#" class="post-comments">5 Reviews</a> 
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end--> 
                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <h3>Categories</h3>
                                            <div class="category-widget">
                                                <ul class="cat-item">
                                                    <li><a href="#">Seafood</a><span>12</span></li>
                                                    <li><a href="#">Drinks</a><span>21</span></li>
                                                    <li><a href="#">Desserts</a><span>34</span></li>
                                                    <li><a href="#">Starter</a><span>8</span></li>
                                                    <li><a href="#">Main Dishes</a><span>9</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end-->                                
                                        <!-- main-sidebar-widget-->   
                                        <div class="main-sidebar-widget fl-wrap">
                                            <h3>Resent tags </h3>
                                            <div class="tags-widget">
                                                <div class="tagcloud">
                                                    <a href="#">Lifystyle</a>
                                                    <a href="#">Travel</a>
                                                    <a href="#">Trip</a>
                                                    <a href="#">Outdoor</a>
                                                    <a href="#">Camping</a>
                                                    <a href="#">Photos</a>
                                                    <a href="#">Adventure</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- main-sidebar-widget end-->                       
                                    </div>
                                    <!-- main-sidebar end-->                                        
                                </div>
                                <!--  sidebar end-->    
                            </div>
                            <div class="fl-wrap limit-box"></div>
                        </div>
                        <div class="section-bg">
                            <div class="bg"  data-bg="images/bg/dec/section-bg.png"></div>
                        </div>
                    </section>
                    <!--  section end  -->  
                    <div class="brush-dec2 brush-dec_bottom"></div>
                </div>
                <!-- content end  -->
                <!-- footer -->
                <div class="height-emulator fl-wrap"></div>
                {% include "footer.html" %}
                <!-- footer end-->                                
            </div>
            <!-- wrapper end -->
            {% include "reservation.html" %}
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->                                                    
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        {% endblock main_body %}